<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="windows-1251">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title> Data Science Project </title>
</head>
<body>
    <div class="container">
        <header>
            <div class="image"> <img src="img/win.svg"> </div>
            <p class="headertext"> Курсовая работа </p> <p class="headertext" style="color: #BAFFE6"> Data Science Dream Team </p>
        </header>

        <main>
            <div class="vved">
                <div class="vvedtext" data-aos="fade-left">
                    <h1> Сможете ли Вы отличить ИИ от настоящего HR? </h1>
                    <h2> Результаты работы нашей команды прекрасно иллюстрируют, как с этим справились другие </h2>
                    <a href="#top" style="text-decoration: none; "> <div class="button"> <p> Узнать больше <p> </div> </a>
</div>
                <div class="run" data-aos="fade-left"> <img src="img/run3.svg"> </div>
            </div>

            <div class="goals" data-aos="fade-left">
                <p><a name="top"></a></p>
                <h1 class="goaltext"> Наша цель: </h1>
                <h1 class="goaltext"> Оценка нейросетей для генерации текста </h1>
                <div class="floatpic bounce-2"> <img src="img/float.svg"> </div>
            </div>
            
            <div class="datainfo" data-aos="fade-up">
                <h1 id="datatext"> Информация о датасетах: </h1>

                <div data-aos="fade-right">
                    <div class="databox">
                        <div class="row">
                            <div class="col">
                                <p class="databoxtext"> Первый датасет </p>
                                <p class="subdataboxtext"> Содержит только информацию о котиках </p>
                            </div>
                            <p class="datanum"> 198 </p>
                        </div>
                    </div>
                </div>


                <div data-aos="fade-right">
                    <div class="databox">
                        <div class="row">
                            <div class="col">
                                <p class="databoxtext"> Второй датасет </p>
                                <p class="subdataboxtext"> Содержит только информацию о песелях </p>
                            </div>
                            <p class="datanum2"> 340 </p>
                        </div>
                    </div>
                </div>

                <div data-aos="fade-right">
                    <div class="databox">
                        <div class="row">
                            <div class="col">
                                <p class="databoxtext"> Третий датасет </p>
                                <p class="subdataboxtext"> Содержит только информацию о ближайших психологах </p>
                            </div>
                            <p class="datanum3"> 2034 </p>
                        </div>
                    </div>
                </div>

                <div data-aos="fade-right">
                    <div class="databox">
                        <div class="row">
                            <div class="col">
                                <p class="databoxtext"> Четвертый датасет </p>
                                <p class="subdataboxtext"> Содержит только информацию о [REDACTED] </p>
                            </div>
                            <p class="datanum4"> 543 </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grathtext" data-aos="fade-right">
                <div class="coltext">
                    <div id="rowtext"> <h1 id="goalhead"> Инфографики  </h1> <div class="arrowicon"> <img src="img/arrow2.svg" class="shadow"> </div> </div>
                    <h2 id="goalheadmini"> Сведения о датасетах и начальных данных </h2>
                </div>
            </div>

            <div class="grath2">

                <div class="container" data-aos="fade-down">
                    <canvas id="myChart1" width="600" height="400"></canvas>
                </div>


                <h2 class="grath1text" data-aos="fade-up">
                    Степень академической тошноты
                </h2>
            </div>

            <div class="grath1">
                <h2 class="grath1text" data-aos="fade-up"> Степень водности </h2>

                <div class="chart1" data-aos="fade-down">
                    <canvas id="myChart"> </canvas>
                </div>
            </div>

            <div class="grath2">

                <div class="container" data-aos="fade-down">
                    <canvas id="myChart2" width="600" height="400"></canvas>
                </div>


                <h2 class="grath1text" data-aos="fade-up">
                    Степень повторенности
                </h2>
            </div>

            <div class="grath3">

                <h2 class="grath1text" data-aos="fade-right">
                    Индекс Флеша
                </h2>

                <div class="container" data-aos="fade-left">
                    <canvas id="myChart3" width="600" height="400"></canvas>
                </div>


            </div>

             <div class="diff" data-aos="fade-up">
                <h1 class="diffheader"> Сравним средние показатели метрик на тексте человека и нейросети: </h1>

                <div class="colorbox">

                    <div class="colorcont">
                        <div class="round"> <img src="img/rou1.svg"> </div> <p class="difftext"> - текст человека </p>
                    </div>

                    <div class="colorcont2">
                        <div class="round"> <img src="img/rou2.svg"> </div> <p class="difftext"> - текст нейросети </p>
                    </div>
                </div>

                <div class="row">

                    <div class="circle" data-aos="fade-right">
                        <h1 class="sprtext"> Степень тошноты: </h1>
                        <div class="spr">
                            <p class="neurotext"> 0.3 </p>
                            <p class="mantext"> 0.8 </p>
                        </div>
                    </div>


                    <div class="circle" data-aos="fade-left">
                        <h1 class="sprtext"> Степень водности: </h1>
                        <div class="spr">
                            <p class="neurotext"> 0.2 </p>
                            <p class="mantext"> 0.7 </p>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="circle" data-aos="fade-right">
                        <h1 class="sprtext"> Индекс Флеша: </h1>
                        <div class="spr">
                            <p class="neurotext"> 0.1 </p>
                            <p class="mantext"> 0.6 </p>
                        </div>
                    </div>


                    <div class="circle" data-aos="fade-left">
                        <h1 class="sprtext"> Степень повторенности: </h1>
                        <div class="spr">
                            <p class="neurotext"> 0.0 </p>
                            <p class="mantext"> 10 </p>
                        </div>
                    </div>

                </div>


            </div>



            <div id="app">
                <div class="quizbox" data-aos="fade-left">
                    <h1 class="quizmaintext"> Результаты опроса </h1>
                    <h1 class="quizmaintext"> Здесь: </h1>

                    <div class="numcont">
                        <div class="numbox" data-aos="fade-up">
                            <p class="num"> {{ num_1 }}% </p>
                            <p class="numtext">
                                Процент
                            </p>
                            <p class="numtext">
                                угаданных
                            </p>
                            <p class="numtext">
                                сообщений
                            </p>
                        </div>


                        <div class="numbox" data-aos="fade-down">
                            <p class="num"> {{ num_2 }}% </p>
                            <p class="numtext" style="color: #A5A6F6;">
                                Процент
                            </p>
                            <p class="numtext" style="color: #A5A6F6;">
                                Отклика
                            </p>
                        </div>
                    </div>


                <!--ОПРОС-->
                <div class="ourquiz" id="app" data-aos="fade-up">
                    <h2 class="ourquiztext"> Хотели бы попробовать тоже?</h2>
                    <div class="thequiz" id="card">
                        <p class="quizquest"> {{ quiz.title }} </p>
                        <!-- Индекс используется для проверки текущего индекса вопроса -->
                        <div v-for="(question, index) in quiz.questions">
                            <!-- Скрыть все вопросы, показывать только один вопрос с текущим индексом -->
                            <div v-show="index === questionIndex">
                                <p class="quiztext"> {{ question }} </p>


                                <div v-if="correctans[index]==='Нейросеть'">
                                    <div class="ans bounce-4" @click="addneuro">
                                        <p class="ans1"> Нейросеть </p>
                                    </div>
                                </div>
                                <div v-else>
                                    <div class="ans shake" @click="addneuro">
                                        <p class="ans1"> Нейросеть </p>
                                    </div>
                                </div>

                                <div v-if="correctans[index]==='Человек'">
                                    <div class="ans bounce-4" @click="addman">
                                        <p class="ans1"> Человек </p>
                                    </div>
                                </div>
                                <div v-else>
                                    <div class="ans shake" @click="addman">
                                        <p class="ans1"> Человек </p>
                                    </div>
                                </div>


                                <p class="counter"> {{ index+1 }} /  {{ quiz.questions.length }} </p>
                            </div>

                        </div>
                        <div v-show="questionIndex === quiz.questions.length">
                            <h1 class="res">
                                Викторина завершена!
                            </h1>
                            <p class="result">
                                Счет: {{ score() }} / {{ quiz.questions.length }}
                            </p>

                            <!--Тут кнопка для завершения!!-->
                            <div class="button2" id="onetime" @click="sendData()"> <p> Завершить опрос <p> </div>
                        </div>

                        <div v-show="questionIndex === quiz.questions.length+1">
                            <h1 class="res">
                                Спасибо за участие!
                            </h1>

                            <div class="floatpic2 bounce-3"> <img src="img/float2.svg"> </div>


                        </div>

                    </div>
                </div>
            </div>
          </div>


</main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>

        AOS.init({
            duration: 1000
        });
    </script>
</body>
</html>
